<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Log-in</title>
</head>

<body>
    <form class="form" method="post" action="/login">
        <div class="flex-column">
            <labe>Email </label>
        </div>
        <div class="inputForm">
            <input type="text" class="input" name="email" id="email" placeholder="Enter your Email"
                autocomplete="email" required>
        </div>

        <div class="flex-column">
            <label>Password </label>
        </div>
        <div class="inputForm">
            <input type="password" class="input" name="password" id="password" placeholder="Enter your Password"
                required>
        </div>

        <div class="flex-row">
            <div>
                <input type="checkbox">
                <label>Remember me </label>
            </div>
            <span class="span">Forgot password?</span>
        </div>
        <button class="button-submit">Sign In</button>
        <p class="p">Don't have an account? <span class="span">Sign Up</span>
            </div>
    </form>
</body>

<script>
    window.addEventListener('load', function () {
        document.getElementById('email').value = '';
        document.getElementById('password').value = '';
    });
</script>

</html>