<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <title>Register</title>
</head>

<body>
    <container class="centered">
        <form class="form" method="post" action="/account/register">
            <div class="flex-column">
                <label>Name</label>
            </div>
            <div class="inputForm">
                <img width="25" height="25" src="https://img.icons8.com/badges/48/business-contact.png"
                    alt="business-contact" />
                <input type="text" class="input" name="name" id="name" placeholder="Enter your Name" autocomplete="off"
                    required>
            </div>

            <div class="flex-column">
                <label>Surname</label>
            </div>
            <div class="inputForm">
                <img width="23" height="23" src="https://img.icons8.com/badges/48/conference.png" alt="conference" />
                <input type="text" class="input" name="surname" id="surname" placeholder="Enter your Surname"
                    autocomplete="off" required>
            </div>


            <div class="flex-column">
                <label>Email</label>
            </div>
            <div class="inputForm">
                <img width="22" height="22" src="https://img.icons8.com/fluency-systems-filled/48/000000/email.png" />
                <input type="email" class="input" name="email" id="email" placeholder="Enter your Email"
                    autocomplete="off" required>
            </div>

            <div class="flex-column">
                <label>Password</label>
            </div>

            <div class="inputForm">
                <img width="22" height="22"
                    src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/24/external-password-networking-tanah-basah-basic-outline-tanah-basah.png" />
                <input type="password" class="input" name="password" id="password" placeholder="Enter your Password"
                    required>
            </div>

            <div class="flex-row"></div>
            <button class="button-submit">Sign Up</button>
            <p class="p">Already have an account? <a class="span" href="/account/login">Sign In</a>
                </div>
        </form>
    </container>
</body>

<script>
    window.addEventListener('load', function () {
        document.getElementById('email').value = '';
        document.getElementById('password').value = '';
    });
</script>

</html>