<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <title>Register</title>
</head>

<body>
    <container class="centered">
        <form class="form" method="post" action="/account/register">
            <div class="title">Registration</div>
            <div class="message">
                <label>Name</label>
            </div>
            <div class="inputs">
                <input type="text" class="input" name="name" id="name" placeholder="Enter your name" autocomplete="off"
                    required>
            </div>

            <div class="message">
                <label>Surname</label>
            </div>
            <div class="inputs">
                <input type="text" class="input" name="surname" id="surname" placeholder="Enter your surname"
                    autocomplete="off" required>
            </div>


            <div class="message">
                <label>Email</label>
            </div>
            <div class="inputs">
                <input type="email" class="input" name="email" id="email" placeholder="Enter your email"
                    autocomplete="off" required>
            </div>

            <div class="message">
                <label>Password</label>
            </div>

            <div class="inputs">
                <input type="password" class="input" name="password" id="password" placeholder="Enter your password"
                    required>
            </div>

            <div class="flex-row"></div>
            <button class="button-submit">Sign Up</button>
            <p class="p">Already have an account? <a class="span" href="/account/login">Sign In</a>
                </div>
        </form>
    </container>
</body>

<script>
    window.addEventListener('load', function () {
        document.getElementById('email').value = '';
        document.getElementById('password').value = '';
    });
</script>

<style>
    .form {
        height: 450px;
        width: 400px;
    }

    .inputs input{
        width: 280px;
        height: 32px;
        text-align: left;
        font-weight: 500;
        margin-top: -10px;
    }

    .message{
        margin-top: 10px;
        align-self: left;
    }

    .button-submit{
        margin-top: 25px;
    }
</style>

</html>