<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Register</title>
</head>

<body>
    hola que tal
    <container class="centered">
        <form class="form" method="post" action="/account/register">
            <div class="flex-column">
                <label>Email</label>
            </div>
            <div class="inputForm">
                <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/48/000000/email.png"/>
                <input type="text" class="input" name="email" id="email" placeholder="Enter your Email"
                    autocomplete="email" required>
            </div>

            <div class="flex-column">
                <label>Password</label>
            </div>

            <div class="inputForm">
                <img width="20" height="20" src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/24/external-password-networking-tanah-basah-basic-outline-tanah-basah.png"/>
                <input type="password" class="input" name="password" id="password" placeholder="Enter your Password"
                    required> 
                <img width="20" height="20" src="https://icons8.com/icon/KJa1vG6vZTIQ/eye"/>
            </div>

            <div class="flex-row">
                <div>
                    <input type="checkbox">
                    <label>Remember me </label>
                </div>
                <span class="span">Forgot password?</span>
            </div>
            <button class="button-submit">Sign In</button>
            <p class="p">Don't have an account? <span class="span">Sign Up</span>
                </div>
        </form>
    </container>
</body>

<script>
    window.addEventListener('load', function () {
        document.getElementById('email').value = '';
        document.getElementById('password').value = '';
    });
</script>

</html>