@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.ttf');
}

body {
    font-family: 'Poppins', sans-serif;
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 16px;
    border-color: transparent;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.flex-column>label {
    color: #151717;
    font-size: larger;
    font-weight: 600;
}

.inputs {
    margin-top: 10px;
}

.inputs input {
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    font-size: 16px;
    margin: 0 5px;
}

.inputs input:focus {
    border-bottom: 1.5px solid #006fbd;
    outline: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.message {
    color: #a3a3a3;
    font-size: 14px;
    text-align: center
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #006fbd;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.span:hover {
    color: #005d9e;
    text-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    text-decoration: none;
}


.button-submit {
    font-family: 'Poppins', sans-serif;
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 8px;
    width: 60%;
    font-size: larger;
    border: none;
    background-color: #006fbd;
    color: white;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #005d9e;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}


.title {
    font-size: 30px;
    font-weight: bold;
    color: black
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

header {
    width: 100%;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 30px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #2D4739;
    font-weight: bold;
    font-size: 1.5vw;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #2D4739;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 1.5vw;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}

nav ul li a {
    color: #2D4739;
    font-size: 1vw;
    font-weight: 500;
    transition: transform 0.2s;
}

nav ul li a:hover {
    color: #2D4739;
    transform: scale(1.2);
    text-decoration: none;
}

.account-logo {
    margin-right: -2vw;
}

.account-logo:hover {
    cursor: pointer;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #2D4739;
    display: none;
}