@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.ttf');
}

body {
    font-family: 'Poppins', sans-serif;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    margin: 0 auto;
    border: solid 0.13vw #466c38;
}

.form button {
    align-self: flex-end;
}

.flex-column>label {
    color: #151717;
    font-size: larger;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #466c38;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    background-color: transparent;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #5c8e49;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #466c38;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.span:hover{
    color:#5c8e49;
    text-decoration: none;
}


.button-submit {
    margin: 20px 0 10px 0;
    background-color: #466c38;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 550;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #5c8e49;
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    border: 1px solid #466c38;
}

header {
    width: 100%;
}

.content {
    width: 94%;
    margin: 4em auto;
    font-size: 30px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #2D4739;
    font-weight: bold;
    font-size: 1.5vw;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #2D4739;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 1.5vw;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}

nav ul li a {
    color: #2D4739;
    font-size: 1vw;
    font-weight: 500;
    transition: transform 0.2s;
}

nav ul li a:hover {
    color: #2D4739;
    transform: scale(1.2);
    text-decoration: none;
}

.account-logo {
    margin-right: -2vw;
}

.account-logo:hover {
    cursor: pointer;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #2D4739;
    display: none;
}