<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>

<body>
    <h2>Inserisci Email e Numero</h2>
    <form method="post" action="/account/sendemail">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>

        <label for="number">Numero:</label><br>
        <input type="number" id="number" name="number"><br><br>

        <input type="submit" value="Invia">
    </form>
</body>

</html>