<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Page not found</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <div class="text-center">
        <img src="cinqueterre.jpg">
        <h1>Error 404</h1>
        <p>Sorry this is not the page you were looking for.</p>
        <h5><a href="/">Return to the home</a></h5>
    </div>
</body>

<style>
    .text-center h5 a{
        color: #7D0A0A;
        text-decoration: none;
    }

    .text-center h5 a:hover{
        color: #BF3131;
        text-decoration: none;
    }
</style>

</html>