<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi siamo - SnowFein</title>
</head>

<body>
    <div class="container">
        <h1>Chi siamo</h1>
        <p>SnowFein è una piattaforma leader per connettere gli appassionati di sport invernali da tutto il mondo.
            Che tu sia un esperto navigato o stia iniziando ora, SnowFein ha qualcosa per tutti.</p>
        <p>La nostra missione è rendere gli sport invernali più accessibili e divertenti per tutti. Forniamo una gamma
            di
            funzionalità e risorse per aiutarti a pianificare la tua prossima avventura, connetterti con individui
            simili e condividere le tue esperienze con la community.</p>
        <p>Unisciti a SnowFein oggi stesso e inizia a esplorare il mondo degli sport invernali come mai prima
            d'ora!</p>
        <div class="center">
            <a href="/" class="btn">Torna alla Home</a>
        </div>
    </div>
</body>

</html>

<footer class="footer">
    <%- include("../../partials/footer.ejs") %>
</footer>

<style>

</style>