<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnowFein - Home</title>
    <link rel="stylesheet" href="styles.css">
</head>


<%- include("../../partials/navbar.ejs") %>

</html>
<footer class="footer">
    <%- include("../../partials/footer.ejs") %>
</footer>