<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy e Politica - SnowFein</title>
</head>

<body>
    <div class="container">
        <div class="center">
            <div class="title">
                <header>
                    Politica sulla Privacy di SnowFein
                </header>
            </div>
        </div>
        <div class="main-text">
            <main>
                <section>
                    <h2>Informazioni che raccogliamo</h2>
                    <p>Quando ti registri per un account SnowFein, potremmo chiederti di fornire alcune informazioni
                        personali,
                        inclusi il tuo nome, l'indirizzo email e altre informazioni di contatto. Queste informazioni
                        vengono
                        utilizzate esclusivamente per identificare te come utente e per fornire i servizi che offriamo.
                    </p>
                </section>
                <section>
                    <h2>Come utilizziamo le tue informazioni</h2>
                    <p>Le informazioni personali che raccogliamo vengono utilizzate per fornire, mantenere e migliorare
                        i
                        nostri
                        servizi e per garantire la sicurezza degli utenti. Non condivideremo queste informazioni con
                        terze
                        parti
                        al di fuori di SnowFein senza il tuo consenso, tranne quando richiesto per rispettare le leggi
                        applicabili o per proteggere i nostri diritti legali.</p>
                </section>
                <section>
                    <h2>Cookie e tecnologie simili</h2>
                    <p>Il nostro sito utilizza i cookie e altre tecnologie di tracciamento per migliorare l'esperienza
                        dell'utente e analizzare l'utilizzo del sito. I cookie sono file di piccole dimensioni che
                        vengono
                        memorizzati sul tuo dispositivo quando visiti il nostro sito web. Puoi controllare o
                        disabilitare i
                        cookie nelle impostazioni del tuo browser, ma ciò potrebbe influire sulla funzionalità del sito.
                    </p>
                </section>
                <section>
                    <h2>Modifiche alla nostra politica sulla privacy</h2>
                    <p>Ci riserviamo il diritto di modificare questa politica sulla privacy in qualsiasi momento, quindi
                        ti
                        consigliamo di rivederla periodicamente. Le modifiche entreranno in vigore non appena pubblicate
                        su
                        questa pagina.</p>
                </section>
            </main>

            <p>Se hai domande o dubbi sulla nostra politica sulla privacy, non esitare a contattarci all'indirizzo email
                <a href="mailto:rapthill@gmail.com">rapthill@gmail.com</a>.
            </p>
        </div>
    </div>
</body>

</html>

<footer class="footer">
    <%- include("../../partials/footer.ejs") %>
</footer>

<style>
    body {
        background-color: rgb(240, 240, 240);
    }

    .center {
        width: 100%;
        align-items: center;
    }

    .title {
        width: 80%;
        text-align: center;
        font-weight: 700;
        font-size: 4vw;
        margin: 0 auto;
    }

    .main-text{
        width: 80%;
        padding: 2vw;
        margin: 0 auto;
    }

    .container {
        align-items: center;
        justify-content: center;
        border-radius: 1vw;
        width: 60%;
        background-color: white;
        padding: 3vw;
        box-shadow: 0px 0px 23px 16px rgba(0, 0, 0, 0.05);
        margin-bottom: 8vw;
        margin-top: 8vw;
    }
</style>