<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy e Politica - SnowFein</title>
</head>

<body>
    <div class="container">
        <div class="center">
            <div class="title">
                <header>
                    Termini di Servizio
                </header>
            </div>
        </div>
        <div class="main-text">
            <main>
                <section>
                    <h2>1. Account e Registrazione</h2>
                    <p>Per accedere a determinate funzionalità del Servizio, potresti dover creare un account. Quando lo
                        fai, accetti di fornire informazioni accurate e complete e di mantenere la sicurezza del tuo
                        account. Se rilevi un uso non autorizzato del tuo account, contattaci immediatamente. Ci
                        riserviamo il diritto di sospendere o chiudere il tuo account se violi questi Termini o se il
                        tuo comportamento costituisce un rischio per la sicurezza o l'integrità del Servizio.
                    </p>
                </section>
                <section>
                    <h2>2. Utilizzo del Servizio</h2>
                    <p>Il Servizio è destinato esclusivamente a scopi personali e non commerciali. Non utilizzare il
                        Servizio in modo illegale o per scopi non autorizzati. Accetti di rispettare tutte le leggi e i
                        regolamenti applicabili durante l'utilizzo del Servizio. Ci riserviamo il diritto di modificare
                        o interrompere il Servizio (o qualsiasi parte di esso) in qualsiasi momento e senza preavviso.
                    </p>
                </section>
                <section>
                    <h2>3. Contenuti dell'Utente</h2>
                    <p>Quando carichi o condividi contenuti sul Servizio, conferisci a SnowFein una licenza mondiale,
                        non esclusiva, royalty-free, trasferibile e sublicenziabile per utilizzare, riprodurre,
                        distribuire, modificare e pubblicare tali contenuti. Tuttavia, conservi tutti i diritti sui
                        contenuti che invii o condividi tramite il Servizio. SnowFein non rivendica alcuna proprietà sui
                        contenuti che fornisci.
                    </p>
                </section>
                <section>
                    <h2>4. Proprietà Intellettuale</h2>
                    <p>Il Servizio e tutti i materiali correlati sono di proprietà esclusiva di SnowFein o dei suoi
                        licenzianti e sono protetti dalle leggi sul copyright, sui marchi e altre leggi sulla proprietà
                        intellettuale. Non copiare, riprodurre, distribuire o creare opere derivate dal Servizio o dai
                        suoi contenuti senza il consenso scritto di SnowFein.</p>
                </section>
                <section>
                    <h2>5. Modifiche ai Termini</h2>
                    <p>Ci riserviamo il diritto di modificare o aggiornare questi Termini in qualsiasi momento. Ti
                        informeremo delle modifiche significative tramite il Servizio o tramite altri mezzi appropriati.
                        Continuando a utilizzare il Servizio dopo tali modifiche, accetti i Termini aggiornati.</p>
                </section>
                <section>
                    <h2>6. Limitazione di Responsabilità</h2>
                    <p>Nella misura massima consentita dalla legge applicabile, SnowFein non sarà responsabile per danni
                        diretti, indiretti, incidentali, speciali o consequenziali derivanti dall'utilizzo o
                        dall'incapacità di utilizzare il Servizio.
                    </p>
                </section>
                <section>
                    <h2>7. Contattaci</h2>
                    <p>Se hai domande o commenti sui nostri Termini di Servizio, contattaci all'indirizzo email "<a
                            href="mailto:rapthill@gmail.com">rapthill@gmail.com</a>".</p>
                </section>
            </main>
        </div>
        <div class="data">
            <p>Ultimo aggiornamento: 26/05/2024</p>
        </div>
    </div>
</body>

</html>

<footer class="footer">
    <%- include("../../partials/footer.ejs") %>
</footer>

<style>
    body {
        background-color: rgb(240, 240, 240);
    }

    .center {
        width: 100%;
        align-items: center;
    }

    .title {
        width: 80%;
        text-align: center;
        font-weight: 700;
        font-size: 4vw;
        margin: 0 auto;
    }

    .main-text {
        width: 90%;
        padding: 2vw;
        margin: 0 auto;
    }

    .container {
        align-items: center;
        justify-content: center;
        border-radius: 1vw;
        width: 60%;
        background-color: white;
        padding: 3vw;
        box-shadow: 0px 0px 23px 16px rgba(0, 0, 0, 0.05);
        margin-bottom: 8vw;
        margin-top: 8vw;
    }

    .data {
        margin-top: 2vw;
        text-align: center;
        color: gray;
    }
</style>